@import "../components.scss";

@mixin link-box-mixin {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border-bottom: 3px solid #ffffff;
  transition: all 0.2s ease-out;
  color: #ffffff;
}

.nav-btn {
  color: white;
  border: none;
  height: calc(1rem + 30px);
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.2s ease-out;
  &:hover {
    cursor: pointer;
    @include link-box-mixin;
  }
}

.link-selected {
  transition: all 0.2s ease-out;
  @include link-box-mixin;
}

.nav-container {
  background-color: transparent;
  @media (max-width: 768px) {
    background-color: $primary-main;
    text-align: center;
  }
}

.navbar-main {
  width: 100vw;
  z-index: 0;
  background-color: $primary-main;
  background: transparent;
  padding: 0 3rem !important;

  @media (max-width: 768px) {
    padding: 0 1rem !important;
  }
}

#nav-toggle-btn {
  color: #ffffffc0;
  border: #ffffffc0;
  outline: none;

  span {
    filter: brightness(0) invert(1);
  }
}
